/*Imports*/
/*Layouts y Bases*/
/*Estilos Globales*/
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Poppins, sans-serif;
  font-size: 46px;
  font-weight: 500px;
}

h2 {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 500px;
}

h3 {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 500px;
}

p {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

a {
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  color: #494949;
  font-weight: 500;
}

img {
  max-width: auto;
  max-height: 750px;
}

body {
  background-color: white;
}

#hero {
  min-height: 200px;
  padding: 210px 144px 120px 244px;
  background-color: #f1f1f1;
  align-items: center;
  align-content: center;
}

footer {
  height: 250px;
  background-color: black;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

footer a {
  color: #FF7110;
}

footer a:hover {
  color: #FF7110;
  text-decoration: underline;
  transition: all 1s ease;
}

/* Estilos de Header - NavBar & Menu */
.navbar {
  padding: 20px 0 20px 0 !important;
  top: 0;
}

.header--menu__principal {
  background-color: #3A36C1;
  position: sticky;
}

.header--menu__principal li a {
  text-decoration: none;
  color: white;
}

.header--menu__principal li a:hover {
  font-weight: 500;
  color: white;
  text-decoration: underline;
  text-decoration-color: #FF7110;
}

.navbar-nav .active {
  font-weight: 600;
  color: #FF7110 !important;
  text-decoration: underline;
}

.navbar-nav .active:hover {
  font-weight: 600;
}

/*BASE CLASES DEFINITIONS*/
.button, .secondary-button, .primary-button:hover, .primary-button {
  padding: 10px !important;
  border-radius: 5px;
  font-family: Montserrat, sans-serif !important;
  font-weight: 500;
  text-decoration: none;
}

/*STYLES EXTENSIONS*/
.primary-button {
  background-color: #3a36c1;
  border-style: none;
  color: white;
}

.primary-button:hover {
  background-color: #FF7110;
  transition: all 1s ease !important;
}

.secondary-button {
  background-color: transparent;
  border: 2px solid #3A36C1;
  color: #3A36C1;
  transition: all 0.3s ease-in-out;
}

.secondary-button:hover {
  border: 3px solid;
  text-decoration: underline;
  transition: all 0.3s ease;
}

/*Botones Originales*/
/* .primary-button {
    padding: 10px 10px 10px 10px !important;
    background-color: #3A36C1 !important;
    border-style: none;
    border-radius: 5px !important;
    color: white !important;
    font-family: Montserrat, sans-serif !important;
    font-weight: 500 !important;
}

.primary-button:hover {
    padding: 10px 10px 10px 10px !important;
    background-color: #FF7110 !important;
    border-style: none;
    border-radius: 5px !important;
    color: white !important;
    font-family: Montserrat, sans-serif !important;
    font-weight: 500 !important;
    transition: all 1s ease !important;
}

.secondary-button {
    padding: 10px 10px 10px 10px;
    background-color: transparent;
    border: 2px solid #3A36C1;
    border-radius: 5px;
    color: #3A36C1;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

.secondary-button:hover {
    padding: 10px 10px 10px 10px;
    background-color: transparent;
    border: 2px solid #3A36C1;
    border-radius: 5px;
    color: #3A36C1;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    transition: all 1s ease;
}*/
/*Pages*/
#about {
  background-color: white;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.left-row-container {
  flex: 1 50%;
  max-width: 50%;
}

.left-row-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 0;
}

.right-row-container {
  flex: 1 50%;
  max-width: 50%;
  padding: 50px;
}

/* .left-row-container {
    width: 50%;
    display: inline;
}

.left-row-container img {
    max-width: auto;
    object-fit: cover;
}

.right-row-container{
    padding-left: 200px;
    padding-right: 200px;

} */
.about-heading {
  margin-bottom: 20px;
}

.about-heading h2 {
  font-size: 46px;
  line-height: 50px;
}

.about-description {
  margin-bottom: 20px;
}

.about-button-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  padding: 20px 30px 0 30px;
  flex-wrap: wrap;
}

/*estilos de servicios*/
#services {
  padding: 50px;
}

.services-heading h2 {
  font-size: 46px;
  font-weight: 500px;
}

.services-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.services-box {
  padding: 80px;
  text-align: center;
  max-width: 550px;
}

#vertical-divider {
  width: 1px;
  height: 100px;
  background-color: silver;
}

.services-box img {
  width: 120px;
  margin-bottom: 20px;
}

/*estilos de proyectos*/
#projects {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  background-color: black;
}

.projects-heading h2 {
  font-size: 46px;
  font-weight: 500px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
  color: white;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.projects-container-image {
  padding: 20px;
  margin-bottom: 100px;
}

.projects-container-image img {
  width: 350px;
  border: gray 2px solid;
  border-radius: 20px;
  box-shadow: 15px 15px 0px -2px #3A36C1;
}

.projects-container-image img:hover {
  cursor: pointer;
  border: white 2px solid;
  transform: scale(0.95);
  transition-duration: 500ms;
}

.projects-button {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

/*estilos de contacto con bootstrap*/
#contacto {
  padding: 50px 0;
  background-color: white;
}

.contacto__container {
  box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.1);
}

.contacto__left--container {
  padding: 70px 80px !important;
}

.contacto__right--container {
  background-color: black;
  padding: 200px 95px !important;
}

.contacto__right--container h2 {
  color: white;
  font-weight: 600px;
  margin-top: 10px;
}

.contacto__right--container p {
  color: white;
}

/*paddings contacto en mediaquerys*/
/* @media (max-width: 991px) {


    .contacto__left--container {
        padding: 20px !important;
        width: 100%;
    }

    .contacto__right--container {
        padding: 200px 50px !important;
        width: 100%;
    }
} */
/* Estilos contacto

.contact-form-section {
    display: flex;
    height: 250px;
    padding: 40px 30px 40px 30px;
    justify-content: center;
}

*/
/* Estilos de Blog */
#blog {
  background-color: #f1f1f1;
  padding-top: 80px;
  padding-bottom: 80px;
}

.blog-heading h2 {
  font-size: 48px;
  text-align: center;
  margin: 20px 0 40px 0;
}

.blog-box-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.blog-box {
  padding-top: 0px;
  padding: 0px;
  padding-bottom: 30px;
  max-width: 400px;
  background-color: white;
  margin: 0 20px 0 20px;
  border-radius: 20px;
  border: #3A36C1 2px solid;
  box-shadow: 15px 15px 0px -2px #3A36C1;
}

.blog-box:hover {
  border: #FF7110 3px solid;
  transition-duration: 500ms;
}

.blog-box img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  border-radius: 18px 18px 0 0;
}

.blog-article-title h3 {
  font-size: 24px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.blog-article-link a {
  font-size: 18px;
  color: #3A36C1;
  text-decoration: none;
}

.blog-article-link a:hover {
  text-decoration: underline;
  font-weight: 600;
}

.blog-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* #blog {
    background-color: #f1f1f1;
    padding-top: 50px;
}

.blog-heading h2 {  
    font-size: 48px;
    text-align: center;
    margin: 20px 0 40px 0;
}

.blog-box-container {
    display: flex;
    flex: wrap;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
    width: 750px;
}

.blog-box {
    background-color: white;
    margin: 20px;
    max-height: 500px;
    padding-bottom: 20px;
    display: inline;

}

.blog-box img {
    max-width: 500px;
    object-fit: cover;
}

.blog-box h3 {
    font-size: 20px;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0  20px 0 20px;
}

.blog-article-link{
    padding: 0 20px 0 20px;
}

*/
/*Media Queries*/
/*Media Queries*/
@media (max-width: 575.98px) {
  main {
    max-width: 100%;
  }
  #hero {
    min-height: 550px;
    padding: 80px 20px 20px 20px;
    text-align: center;
  }
  .about-container {
    flex-direction: column;
  }
  .left-row-container {
    width: 100%;
  }
  .left-row-container img {
    width: 100%;
  }
  .right-row-container {
    padding: 40px;
    padding-bottom: 60px;
    border-bottom: lightgray 2px solid;
  }
  .services-container {
    padding-bottom: 50px;
  }
  .services-heading h2 {
    margin-bottom: 50px;
  }
  .services-container {
    display: flex;
    flex-direction: column;
  }
  .services-box {
    padding: 5px;
    padding-bottom: 20px;
    text-align: center;
    height: 250px;
    width: 300px;
    margin: 0;
  }
  #vertical-divider {
    width: 0;
    margin: 0;
    padding: 0;
  }
  .projects-container-image {
    padding: 20px;
    margin-bottom: 0px;
  }
  .projects-container-image img {
    max-width: 200px;
  }
  .projects-button {
    margin-top: 50px;
  }
  .blog-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog-box {
    margin-bottom: 30px;
  }
  .blog-buttom a {
    text-align: center;
  }
}
/*@media (min-width: 767.98px) and (max-width: 991.98px)*/
@media (max-width: 991.98px) {
  main {
    max-width: 100%;
  }
  #hero {
    min-height: 500px;
    padding: 80px 20px 20px 20px;
    text-align: center;
  }
  .about-container {
    flex-direction: column;
  }
  .left-row-container {
    max-width: 100%;
    flex: 1 100%;
  }
  .left-row-container img {
    width: 100%;
    height: 100%;
  }
  .right-row-container {
    max-width: 100%;
    flex: 1 100%;
    text-align: center;
    border-bottom: lightgray 2px solid;
  }
  .services-container {
    padding-bottom: 50px;
  }
  .services-heading h2 {
    margin-bottom: 50px;
  }
  .services-box {
    padding: 5px;
    padding-bottom: 20px;
    text-align: center;
    height: 250px;
    width: 350px;
    margin: 10px;
  }
  .projects-container-image {
    padding: 20px;
    margin-bottom: 0px;
  }
  .projects-container-image img {
    max-width: 250px;
  }
  .blog-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog-box {
    margin-bottom: 30px;
  }
  .blog-buttom a {
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
