/*Estilos Globales*/

* {
    margin: 0;
    padding: 0;
}

h1{

    font-family: Poppins, sans-serif;
    font-size: 46px;
    font-weight: 500px;

}

h2 {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 500px;
}

h3 {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 500px;
}

p {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    line-height: 25px;
}

a {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    color: #494949;
    font-weight: 500;
}

img { 
    max-width: auto;
    max-height: 750px;
}

body {
    background-color: white;
}

#hero {
    min-height: 200px;
    padding: 210px 144px 120px 244px;
    background-color: #f1f1f1;
    align-items: center;
    align-content: center;
}